.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	background: var(--button-background, #ffc802);
	border: 1px solid #000000;
	cursor: pointer;
}

.button:active {
	background: var(--button-background, #ffc802);
}

.button:hover {
	background: var(--button-bg-hover, #ffedab);
	mix-blend-mode: var(--color-font-mix, normal);
}
